<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>乗り換え登録 確認画面</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        
        <h2>乗り換え<br>効率化サービス</h2>

        <div class = "top-btn">
            <button class = "btn" aria-label="新規検索するボタン">
                🔍
            </button>

            <button class ="btn" onClick = "location.href = `./favorite-list.html`" aria-label="お気に入りへ遷移するボタン">
                ⭐️
            </button>
        </div>
        
    </header>

    <main>
        <!---後ろの動きはjavaで実装する-->
		<!---SQLとの連携は必須!!-->
        <!---選択欄->optionタグ&springから持ってくる-->
        
        <h1> 新規登録の確認を行なってください</h1>

        
        <!---thymeleafでの記述必須-->
		
		<!--入力内容の確認-->
		
		<p>出発路線:<span th:text ="*{registForm.startLine}"></span></p>
		<p>出発駅:<span th:text="*{registForm.startStation}"></span></p>
		<p>乗車車両番号:<span th:text="*{registForm.startCar}"></span></p>
		<p>乗車ドア番号:<span th:text="*{registForm.startDoor}"></span></p>
		
		<br>
		<hr>
		<br>
		
		<div th:if="*{registForm.viaStation != null and !registForm.viaStation.isEmpty()}">
			<p>経由路線:<span th:text="*{registForm.viaLine}"></span></p>
			<p>経由駅:<span th:text="*{registForm.viaStation}"></span></p>
			<p>経由乗車車両番号:<span th:text="*{registForm.viaCar}"></span></p>
		    <p>経由乗車ドア番号:<span th:text="*{registForm.viaDoor}"></span></p>
		</div>
		
		<br>
		<hr>
		<br>
		
		<p>降車路線:<span th:text="*{registForm.endLine}"></span></p>
		<p>降車駅:<span th:text="*{registForm.endStation}"></span></p>
		<p>降車車両番号:<span th:text="*{registForm.endCar}"></span></p>
		<p>降車ドア番号:<span th:text="*{registForm.endDoor}"></span></p>
	
		<br>
		
		<div th:if = "*{registForm.destination != null and !registForm.destination.isEmpty()"}>
			<p>目的地:<span th:text ="*{registForm.destination}"></span></p>
		</div>
		
		 <br>
		 <hr>
		 <br>
		 
		 <form th:action="@{/regist-transfer/execute}"method="post" >
			<button type="submit" class = "btn">上記の内容で登録する</button>
		 </form>
		 
		 
		 <form th:action="@{/regist-transfer}" method = "get">
			<button type="submit" class = "btn back-btn">入力画面に戻る</button> 
		 </form>
		
		<!--登録ボタン押したら、successMessage-->
		
		<p>登録するとお気に入りに追加され、データとして保存されます。</p>
    </main>

    <footer>
        <!--demo(星とプラスのアイコン[adobe])-->
        <div class = "button-group">
            <button class="regist-btn btn" onClick = "location.href = `./register-trans.html`" aria-label="追加登録するボタン">
                <!--後々javaで実装-->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </button>

            <button class="circle-star-btn btn" aria-label = "お気に入り登録ボタン">
            ★           <!--お気に入り機能はjavaで実装-->
            </button>
        </div>
    </footer>
	
	<script th:src="@{/js/script.js}"></script>

</body>
</html>