<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display transfer</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>

        <h2>乗り換え<br>効率化サービス</h2>

        <div class = "top-btn">
            <button class = "btn" onClick="location.href = `./search-trans.html`" aria-label="新規検索するボタン">
                🔍
            </button>

            <button class ="btn" onClick = "location.href = `./favorite-list.html`" aria-label="お気に入りへ遷移するボタン">
                ⭐️
            </button>
        </div>
    </header>

    <main>
        <!--thymeleafでobjectを持ってくるpostgressのidを認識することで乗り換え情報を取得できるようにしないといけない-->
        
		<h1>乗り換えルートの詳細表示</h1>
		
		<div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
		<div th:if="${transferRoute}" class="detail-section">
			<!---デバッグでの確認用にIDを表示-->
			<h2>ルートID:<span th:text="${transferRoute.id}"></span></h2>
			
			<div class="detail-item"><strong>出発路線:</strong><span th:text="${transferRoute.startLine}"></span></div>
			<div class="detail-item"><strong>出発駅:</strong><span th:text="${transferRoute.startStation}"></span></div>
			<div class="detail-item"><strong>乗車車両:</strong><span th:text="${transferRoute.startCar}"></span>号車</div>
			<div class="detail-item"><strong>乗車ドア:</strong><span th:text="${transferRoute.startDoor}"></span>ドア</div>

			<br>
			<hr>
			<br>
			
			<div th:if="${transferRoute.viaStation != null and !transferRoute.viaStation.isEmpty()}">
				<div class="detail-item"><strong>経由路線:</strong><span th:text="${transferRoute.viaLine}"></span></div>
				<div class="detail-item"><strong>経由駅:</strong><span th:text="${transferRoute.viaStation}"></span></div>
				<div class="detail-item"><strong>乗車車両:</strong><span th:text="${transferRoute.viaCar}"></span>号車</div>
				<div class="detail-item"><strong>乗車ドア:</strong><span th:text="${transferRoute.viaDoor}"></span>ドア</div>
			</div>

			
			<br>
			<hr>
			<br>
			
			<div class="detail-item"><strong>降車路線:</strong><span th:text="${transferRoute.endLine}"></span></div>
			<div class="detail-item"><strong>降車駅:</strong><span th:text="${transferRoute.endStation}"></span></div>
			<div class="detail-item"><strong>乗車車両:</strong><span th:text="${transferRoute.endCar}"></span>号車</div>
			<div class="detail-item"><strong>乗車ドア:</strong><span th:text="${transferRoute.endDoor}"></span>ドア</div>

			
			<br>
			<hr>
			<br>
			
			<div class="detail-item"><strong>目的地</strong><span th:text="${transferRoute.destination}"></span></div>
			
			<div th:unless="${transferRoute}" class="no-routes-message">
				<p>指定されたルートは見つかりませんでした。もう一度お確かめください。</p>
			</div>
			
			<div class="nav-buttons">
				<button class="btn" onClick="location.href=`@{/favorite-list}`" >一覧へ戻る</button>
			</div>
			
			
		</div>
		

    </main>

    <footer>
        <!--demo(プラスボタンと星ボタン)-->
        <!--demo(星とプラスのアイコン[adobe])-->
        <div class = "button-group">
            <button class="regist-btn btn" onClick = "location.href = `./register-trans.html`" aria-label="追加登録するボタン">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </button>

            <button id = "favoriteBtn" class="circle-star-btn btn" aria-label = "お気に入り登録ボタン">
                <span id = "starIcon">⭐︎</span>          <!--お気に入り機能はjavaで実装-->
            </button>

            <p id = "responseMsg" class = "popup-message">お気に入りに追加されました</p>

        </div>

        
    </footer>
    
	<script th:src="@{/js/script.js}"></script>
</body>
</html>
