<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>乗り換え情報新規登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    ,<header>
        <h2>乗り換え<br>効率化サービス</h2>

        <div class = "top-btn">
            <button class = "btn" onClick="location.href = `./search-trans.html`" aria-label="新規検索するボタン">
                🔍
            </button>

            <button class ="btn" onClick = "location.href = `./favorite-list.html`" aria-label="お気に入りへ遷移するボタン">
                ⭐️
            </button>
        </div>
    </header>

    <main>
        <!--改善必須※placeholderなどを使用
        --<form action="/register-route" method="POST">左記はSpring用 
        もっとユーザー目線で!!新規登録は駅と数字(号車とドア)の登録で済むように!!
        -->
        <h1>乗り換え情報の新規登録を行ってください</h1>
		<!---各項目ユーザビリティに配慮を!!-->
		
        <form th:action = "@{/regist-transfer/confirm}" th:object="${registform}" method="post"> <!---RegistControllerのpostmapping-->
			
			<div th:if="${erroeMessage}" class = "error-message" th:text = "${errorMessage}"></div>
			
			
			<!----Line,Station,Car,Doorの順番で記入-->
			
			<!--Start-->
			
			<label for="startLine">乗車路線を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "startline" th:field ="*{startLine}" placeholder="例:山手線"/>
			<div class="error-message" th:errors = "*{startLine}"></div>
			
			<label for="startStation">乗車駅を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "startStation" th:field ="*{startStation}" placeholder="例:五反田駅"/>
			<div class="error-message" th:errors = "*{startStatioin}"></div>
			
			<label for="startCar">乗車車両番号を入力してください<span class = "required">*</span></label>
		　　 <input type = "text" id = "startCar" th:field ="*{startCar}" placeholder="例:5号車"　min ="1"/>
			<div class="error-message" th:errors = "*{startCar}"></div>
						
			<label for="startDoor">乗車ドア番号を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "startDoor" th:field ="*{startDoor}" placeholder="例:1番ドア" min = "1"/>
			<div class="error-message" th:errors = "*{startDoor}"></div>
			
			
			<br>
			<hr>
			<br>
			
			<!--Via(任意)　nullでもokというか、デフォルトは空でOK-->
			
			<label for = "viaLine">経由路線を入力してください※到着路線と同一にしてください</label>
			<input type = "text" id = "viaLine" th:field ="*{viaLine}" placeholder="例:中央線" />
			<div class="error-message" th:errors = "*{viaLine}"></div>
			
			
            <label for="viaStation">経由駅を入力してください</label>
            <input type="text" id="viaStation" th:field="*{viaStation}" placeholder="例:新宿駅" />
			<div class="error-message" th:errors = "*{viaStation}"></div>
			
			<label for="viaCar">経由車両番号を入力してください</label>
			<input type = "text" id = "viaCar" th:field ="*{viaCar}" placeholder="例:1号車" min = "1"/>
			<div class="error-message" th:errors = "*{viaCar}"></div>
			
			<label for="viaDoor">経由ドア番号を入力してください</label>
			<input type = "text" id = "viaDoor" th:field ="*{viaDoor}" placeholder="例:2番ドア" min = "1"/>
			<div class="error-message" th:errors = "*{viaDoor}"></div>
			
			<br>
			<hr>
			<br>
			
			<!--End-->

			<label for="endLine">降車路線を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "endLine" th:field ="*{endLine}" placeholder="例:中央線"/>
			<div class="error-message" th:errors = "*{endLine}"></div>
			
			<label for="endStation">降車駅を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "endStation" th:field ="*{endStation}" placeholder="例:荻窪駅"/>
			<div class="error-message" th:errors = "*{endStation}"></div>
			
			<label for="endCar">降車車両番号を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "endCar" th:field ="*{endCar}" placeholder="例:1号車" min = "1"/>
			<div class="error-message" th:errors = "*{endCar}"></div>
						
			<label for="endDoor">経由車両番号を入力してください<span class = "required">*</span></label>
			<input type = "text" id = "endDoor" th:field ="*{endDoor}" placeholder="例:2番ドア" min = "1"/>
			<div class="error-message" th:errors = "*{endDoor}"></div>
			
			<!--destination--->
			<label for="destination">経由ドア番号を入力してください</label>
			<input type = "text" id = "viaDoor" th:field ="*{destination}" placeholder="例:ルミネ荻窪"/>
			<div class="error-message" th:errors = "*{destination}"></div>
            
            <!---Spring用ボタン-->
            <button type="submit" class = "btn">確認画面へ</button>
			
			<p>新規登録すると、お気に入りに追加され、<br>データが保存されます。</p>
        </form>

        <!---</form>spring用>

        新規登録したら、ユーザー側にはお気に入りに追加、SQLにもデータとして保存。-->
    </main>
    
    <footer>
        <!--demo(星とプラスのアイコン[adobe])-->
        <div class = "button-group">
            <button class="regist-btn btn" aria-label="追加登録するボタン">
                <!--後々javaで実装-->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </button>

            <button class="circle-star-btn btn" aria-label = "お気に入り登録ボタン">
            ★           
            </button>

    </footer>
	
	<script th:src="@{/js/script.js}"></script>
	
</body>
</html>
